html, body {
    font-size: 11px;
    background-color: #dcdcdc;
    margin: 4px;
    font-family: sans-serif;
    font-size: 1em;
}
button{
    margin-left:50%;
    margin-right:50%;
    height: 30px;
}
.container{
    width: 80%;
    bottom: 0;
    max-height: 90%;
    padding-top: 0%;
    margin: auto;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
header{
    background: #35888c;
    color:#ffffff;
    padding: 5px 10px;
    overflow: auto;
    font-size: 16px;
}
footer{
    background: #35888c;
    color:#ffffff;
    padding: 5px 5px;
    overflow: auto;
    font-size: 16px;
}


/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.img{
    width: 30%;
}

.kimage{
    width: 200px;  
}
.main-image{
    max-width: 90%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.main-image-div{

    max-height: 50%;
}
.questionForm{
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bts{
    width: 60%;
    display: inline;
    overflow: auto;
    white-space: nowrap;
    margin: 0px auto;
}

.submit-back{
    float:left;
}
.submit-forth{
    float:right; 
}



/*      this is the start button style things    */

a {
    text-decoration: none;
    display:block;
    text-align:center;
    border: 9%;
    margin-bottom: 5%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 12px;
  }
  
  .-btn:hover {
    opacity: .8;
  }
  
  .-bg {
    background: #35888c;
  }
  
  .-txt {
    color: #fff;
  }
  
  .-xs {
    font-size: 12px;
  }