html, body {
    font-size: 11px;
    background-color: #dcdcdc;
    margin: 4px;
    font-family: sans-serif;
    font-size: 1em;
}
button{
    margin-left:50%;
    margin-right:50%;
    height: 30px;
}
.container{
    width: 100%;
    bottom: 0;
    max-height: 90%;
    padding-top: 0%;
    margin: auto;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
header{
    background: #35888c;
    color:#ffffff;
    padding: 5px 10px;
    overflow: auto;
    font-size: 16px;
}
footer{
    background: #35888c;
    color:#ffffff;
    padding: 5px 5px;
    overflow: auto;
    font-size: 16px;
}




/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.img{
    width: 23%;
}

.kimage{
    width: 200px;  
}
.main-image{
    max-width: 70%;
    max-height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.main-image-div{

    max-height: 30%;
}
.questionForm{
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bts{
    width: 60%;
    display: inline;
    overflow: auto;
    white-space: nowrap;
    margin: 0px auto;
}
.answer6{
    text-align:center;
    display:inline-block;
    margin:0 5px;
}

.button {
  display: inline-block;

  text-decoration: none;
  display:block;
  text-align:center;
  border: 9%;
  margin-bottom: 5%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 12px;

  background: #35888c;
}



#submit11 {
  display: inline-block;

  text-decoration: none;
  display:block;
  text-align:center;
  border: 9%;
  margin-bottom: 5%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 12px;

  background: #35888c;
}



/*      this is the start button style things    */

a {
    text-decoration: none;
    display:block;
    text-align:center;
    border: 9%;
    margin-bottom: 5%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 12px;
  }
  
  .-btn:hover {
    opacity: .8;
  }
  
  .-bg {
    background: #35888c;
  }
  
  .-txt {
    color: #fff;
  }
  
  .-xs {
    font-size: 12px;
  }



  /* disribute in div for cogn */
div.choices1 {
  display: table;
  width: 100%;
  table-layout: fixed;    /* For cells of equal size */
}
div.choices1 span {
  display: table-cell;
  text-align: center;
}